<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

<head>
  <meta charset="utf-8">
  <!-- If you delete this meta tag World War Z will become a reality -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WikiScrape</title>

  {% load staticfiles %}
  <!-- If you are using the gem version, you need this only -->
  <link rel="stylesheet" href="{% static "css/app.css" %}">

  <script src="{% static "bower_components/foundation/js/vendor/modernizr.js" %}"></script>

</head>
<body>


  <div class="row">
    <div class="large-12 columns">


      <nav class="top-bar" data-topbar>
        <ul class="title-area">

          <li class="name">
            <h1>
              <a href="#">
                WikiScrape
              </a>
            </h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
        </ul>

        <section class="top-bar-section">
          <ul class="left">
            <li><a href="#">About</a></li>
            <li><a href="#">Code</a></li>
          </ul>

          <ul class="right">
            <li class="search">
              <form>
                <input type="search">
              </form>
            </li>

            <li class="has-button">
              <a class="small button" href="#">Search</a>
            </li>
          </ul>
        </section>
      </nav>



    </div>
  </div>


  <div class="row">
    <div class="large-12 columns">



      <div class="hide-for-small">
        <div id="featured">
        <br><br><br>
        Search Wikipedia to start:
          <form action="/search/" type="get">
            <input type="text" id="search" name="search" placeholder="Search">
          </form>
          <div id="suggestions">
          </div>

        </div>
      </div>







      <div class="row">
        <div class="small-12 show-for-small"><br>
          <img src="http://placehold.it/1000x600&text=For Small Screens"/>
        </div>
      </div>




    </div>
  </div><br>

  <div class="row">
    <div class="large-12 columns">
      <div class="row">



        <div class="large-3 small-6 columns">
          <img src="http://placehold.it/250x250&text=Thumbnail"/>
          <h6 class="panel">Example Search</h6>
        </div>

        <div class="large-3 small-6 columns">
          <img src="http://placehold.it/250x250&text=Thumbnail"/>
          <h6 class="panel">Example Search</h6>
        </div>

        <div class="large-3 small-6 columns">
          <img src="http://placehold.it/250x250&text=Thumbnail"/>
          <h6 class="panel">Example Search</h6>
        </div>

        <div class="large-3 small-6 columns">
          <img src="http://placehold.it/250x250&text=Thumbnail"/>
          <h6 class="panel">Example Search</h6>
        </div>



      </div>
    </div>
  </div>



  <div class="row">
    <div class="large-12 columns">
      <div class="row">



        <div class="large-8 columns">
          <div class="panel radius">

            <div class="row">
              <div class="large-6 small-6 columns">

                <h4>WikiScrape</h4><hr/>
                <h5 class="subheader">Simply enter a search term, and a graph of connected domains will be created.
                </h5>

                <div class="show-for-small" align="center">
                  <a href="#" class="small radius button">Call To Action!</a><br>

                  <a href="#" class="small radius button">Call To Action!</a>
                </div>

              </div>
              <div class="large-6 small-6 columns">

                <p>Suspendisse ultrices ornare tempor. Aenean eget ultricies libero. Phasellus non ipsum eros. Vivamus at dignissim massa. Aenean dolor libero, blandit quis interdum et, malesuada nec ligula. Nullam erat erat, eleifend sed pulvinar ac. Suspendisse ultrices ornare tempor. Aenean eget ultricies libero.
                </p>
              </div>

            </div>
          </div>
        </div>

        <div class="large-4 columns hide-for-small">

          <h4>Get In Touch!</h4><hr/>

          <a class="large button expand" href="#">
            Star this on GitHub!
          </a>

          <a class="large button expand" href="#">
            Report issues/request features!
          </a>


        </div>



      </div>
    </div>
  </div>



  <footer class="row">
    <div class="large-12 columns">
      <hr>
      <div class="row">
        <div class="large-6 columns">
          <p>©</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">GitHub</a></li>
            <li><a href="#">Issues</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <script src="{% static "bower_components/foundation/js/vendor/jquery.js" %}"></script>
  <script src="{% static "bower_components/foundation/js/foundation.min.js" %}"></script>
  <script src="{% static "js/app.js" %}"></script>
</body>
</html>