{% extends "base.html" %}

{% block maincontent %}
<div class="row">
  <div class="small-12 columns">
    <br>
    Search Wikipedia to start:
    <div class="row collapse">
      <div id="featured" class="small-10 columns">
        <form id='graphForm' action="search" type="get">
          <input type="text" id="search" name="search" placeholder="Search">
        </form>
        <div id="suggestions">
        </div>
      </div>
      <div class="small-2 columns">
        <input type="submit" form="graphForm" class="button postfix" value="Go">
      </div>
    </div>
  </div>
</div><br>

<div class="row">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-3 small-6 columns">
        <img src="http://placehold.it/250x250&text=Thumbnail"/>
        <h6 class="panel">Example Search</h6>
      </div>
      <div class="large-3 small-6 columns">
        <img src="http://placehold.it/250x250&text=Thumbnail"/>
        <h6 class="panel">Example Search</h6>
      </div>
      <div class="large-3 small-6 columns">
        <img src="http://placehold.it/250x250&text=Thumbnail"/>
        <h6 class="panel">Example Search</h6>
      </div>
      <div class="large-3 small-6 columns">
        <img src="http://placehold.it/250x250&text=Thumbnail"/>
        <h6 class="panel">Example Search</h6>
      </div>
    </div>
  </div>
</div>

{% endblock %}
